* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Vazir;
    src: url("./assets/Vazir.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url("./assets/Vazir-Bold.ttf");
    font-weight: bold;
}